<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>In the component</h3>
      <hr />
      <app-servers></app-servers>
      <app-warning-message></app-warning-message>
      <app-success-message></app-success-message>
      <app-more-practice></app-more-practice>

      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <label>Username</label>
            <input
                   type="text"
                   name="name"
                   value=""
                   class="form-control"
                   [(ngModel)]="username"
           />
            <p>{{ username }}</p>
            <button
                    class="btn btn-primary"
                    [disabled]="username === '' "
                    (click)="username = ''"
            >Reset User</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
